<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/Libro_completo.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Titulo del libro</title>
</head>

<body>

    <header>
        <h2 id="Titulo">Hola libro</h2>
    </header>
    <section id="section-lectura">
        <button class="scroll-button" id="left-btn">←</button>
        <section id="pagina">
        </section>
        <button class="scroll-button" id="right-btn">→</button>

    </section>
    <div id="reporductor">
        <button id="reproducir">Reproducir</button>
        <button id="pausar">Pausar</button>
    </div>


    <!--
    <section id="Slider">
        <div class="carrusel" id="carrusel">
        </div>
    </section>
    -->
    <script src="../js/html2canvas.min.js"></script>
    <script src="../js/Libro_completo.js"></script>
</body>

</html>