<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear libro</title>
    <link rel="stylesheet" href="../css/crear-Libro.css">
</head>

<body>
    <div id="form-container">
        <form id="form">
            <input type="text" placeholder="Título del libro" required>
            <label for="image">Escoger una imagen:</label>
            <input type="file" name="image" id="image" accept="image/*" required>
            <label for="colorSelect">Escoger el color del fondo:</label>
            <select id="colorSelect" required>
                <option value="" disabled selected>Color fondo</option>
                <option value="white">Blanco</option>
                <option value="lightblue">Azul claro</option>
                <option value="lightgreen">Verde claro</option>
                <option value="lightpink">Rosa</option>
            </select>
            <a href="Contenido-Libro.html">Ve</a>
            <input type="submit" value="Subir imagen">
        </form>
        <div class="image-container">
            <img src="../images/kafka.jpg" alt="Preview Image">
        </div>
    </div>
    <div name="cerrar">
        <button id="btn-cerrar">Cancelar</button>
    </div>
</body>

</html>