<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../css/login_style.css">
    <link href="../scripts/login_verification.js">
</head>

<body>
    <form id="formularioLogin">
        <h2>Bienvenido</h2>

        <input type="email" id="email" placeholder="Email" class="error">
        <input type="password" id="password" placeholder="Contraseña">

        <a href="MenuLibros.html" id="Ingresar">Ingresar</a>
        <p><a href="registro.html">Aún no tengo cuenta</a></p>
    </form>
</body>

</html>